*{
	padding:0px;
	margin:0px;
	font-family: Electro Shackle, Halo;
}

html{
	background:url(http://t.wallpaperweb.org/wallpaper/3d_landscape/2560x1440/centerofuniverse2560x1440wallpaper717.jpg) fixed no-repeat center top;
	height:100%;
	width:100%;
}

header.headings{
	color:white;
	background-color:black;
	text-align:center;
	padding:10px 300px 10px 300px;
	margin-left:20px;
	margin-right:20px;
}

div.wrapper, form.wrapper{
	padding-top:10px;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:10px;
	margin-left:40px;
	margin-top:10px;
	margin-right:1140px;
	background-color:grey;
	filter:opacity(90%);
	position:relative;
	right:15px;
	width:160px;
}

input.col{
	width:100px;
}

input.col2{
	width:150px;
}